body {
    margin: 0;
    padding: 0;
    background-color: #32502E;
    font-family: 'Julee';
}

.header {
    background-color: #32502E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.header__logo-container {
    max-width: 100%;
    width: 150px;
}

.imagen-lista2 {
    max-width: 200px; 
    height: auto;
}

h1 {
    color: antiquewhite;
    font-family: 'Kaushan Script';
    font-size: 5vh;
    text-align: center;
    font-style: italic;
}

.box1 {
    background-color: rgb(243, 243, 196);
    width: 90%;
    max-width: 1300px;
    height: 13vh;
    margin: 10px auto;
    border-radius: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 1vh;
}

.lista1 {
    list-style-type: none; 
    padding: 2vh; 
    margin: auto; 
    display: flex; 
    text-align: center;
    color: rgb(58, 59, 59);
    font-size: 17px;
}

nav ul li a {
    text-decoration: none; 
    color: #32502E; 
}

li {
    margin-right: 4vw; 
    height: 4vh;   
}

.imagen-lista1 {
    max-width: 100%; 
    height: 30px;
}

#backButton {
    background-color: #416042; /* Color de fondo verde */
    border: none; /* Sin borde */
    color: white; /* Texto blanco */
    padding: 15px 32px; /* Relleno alrededor del texto */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Márgenes */
    cursor: pointer; /* Cambiar el cursor a una mano cuando se pase sobre el botón */
    border-radius: 8px; /* Bordes redondeados */
    margin-left: 50px;
}

#backButton:hover {
    background-color: #45a049; /* Cambiar color al pasar el cursor sobre el botón */
}


input {
    width: 100px;
    box-sizing: border-box;
    padding: 6px 10px;
    border: 1px solid #ddf591;
    box-shadow: 0px 0px 15px rgb(117, 119, 117);
    background-color: transparent;
    border-radius: 4px;
    color: #ddd;
    margin: 6px;
    font-family: 'Julee';
    font-size: 15px;
    margin-left: 5vh;
}

.input__seleccion {
    margin-left: 450px;
}

td, th {
    text-align: center;
    padding: 6px;
    font-family: 'Julee';
    border: none;
    border-bottom: 1px solid #0004;
}

td {
    color: #444;
}

table {
    width: 100%;
    border-spacing: 12px;
    max-width: 700px;
    margin: 30px auto;
    box-shadow: 0px 0px 25px #0002;
    background-color: #dcded6;
}

.box11 {
    display: flex; 
    align-items: center; 
    color: rgb(39, 67, 60);
    flex: 1; 
    margin: 10px;
    box-sizing: border-box;
    background-color: #8faa9e;
    padding: 10px;
}

.lista11 {
    list-style-type: none; 
    margin: 0 10px; 
    padding: 10px;
}

.box11 img {
    max-width: 100px; 
    margin-right: 10px; 
}

.lista11 li {
    margin-bottom: 10px;  
}

.lista11 a {
    color: #32502E; 
    text-decoration: none; 
}

footer {
    display: flex; 
    flex-wrap: wrap; 
    background-color: #8faa9e;
}

.box12 {
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    background-color: #8faa9e;
    padding-top: 90px;
}

.box12 p {
    color: rgb(39, 67, 60);
}

.box13 {
    flex: 1; 
    margin: 10px; 
    box-sizing: border-box; 
    background-color: #8faa9e;
    padding-top: 20px; 
    text-align: center; 
}

.box13 img {
    max-width: 50px; 
    display: block; 
    margin: 0 auto 10px;
}

.box13 p {
    font-size: 16px; 
    margin: 0; 
    color: rgb(39, 67, 60);
}

.footer-line {
    border: 1px solid rgb(240, 240, 166);
    margin: 20px 50px;
}   

.contenedor {
    display: flex;
    align-items: center; 
}

.contenedor img {
    max-width: 100px;
    margin-right: 10px; 
}
