body {
    margin: 0;
    padding: 0;
    background-color: #32502E;
    font-family: 'Julee';
}

.header {
    background-color: #32502E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.header__logo-container {
    max-width: 100%;
    width: 150px;
}

h1 {
    color: antiquewhite;
    font-family: 'Kaushan Script';
    font-size: 5vh;
    text-align: center;
    font-style: italic;
}

.box1 {
    background-color: rgb(243, 243, 196);
    width: 90%;
    max-width: 1300px;
    height: 13vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista1 {
    list-style-type: none;
    padding: 2vh;
    margin: auto;
    display: flex;
    text-align: center;
    color: rgb(58, 59, 59);
    font-size: 17px;
}

nav ul li a {
    text-decoration: none;
    color: #32502E;
}

li {
    margin-right: 4vw;
    height: 4vh;
}

.imagen-lista1 {
    max-width: 100%;
    height: 30px;
}

.box2 {
    width: calc(80vw - 10px);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script';
}

.lista2 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.lista2 > li {
    position: relative;
    margin: 0 20px;
}

.lista2 > li > a {
    text-decoration: none;
    color: antiquewhite;
    padding: 10px 15px;
    display: block;
}

.lista2 > li > a:hover {
    background-color: #3b6949;
}

.submenu {
    display: none;
    position: absolute;
    margin-top: 8%;
    left: 0;
    list-style: none;
    padding: 5px;
    margin: 0px;
    background-color:   #476851;
    box-shadow: 0 8px 16px rgba(0, 0.3, 0, 0.3);
    font-family: sans-serif;
}

.submenu li {
    width: 250px;
}

.submenu li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: rgb(218, 246, 183);
}

.submenu li a:hover {
    background-color:  #4c8760;
}

.lista2 > li:hover .submenu {
    display: block;
}

.imagen-lista2 {
    max-width: 100px;
    height: 10vh;
    margin-left: 4vh;
    margin-right: 0;
}

.imagen-logo {
    max-width: 200px;
    height: auto;
}

.box3 {
    width: 300px;
    height: 90px;
    margin: 100px;
}

h2 {
    color: bisque;
    margin: 2vh 0;
    padding-left: 5vh;
    padding-bottom: 1vw;
    display: inline-block;
}

h3 {
    color: bisque;
    margin: 2vh;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 10px;
}

h4 {
    color: bisque;
    margin: 2vh;
    text-align: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 100px;
}

h5, h6 {
    color: bisque;
    margin: 2vh;
    text-align: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 100px;
    padding-top: 5vw;
}

p {
    color: rgb(227, 225, 161);
    margin: 2vh;
    justify-content: center;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.imagen-asesoria {
    max-width: 25%;
    height: auto;
    margin-left: 3vh;
    padding: 1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: inline-block;
    vertical-align: middle;
}

.titulo {
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    margin-left: 1vh;
}

.slider-box4, .slider-box5, .slider-box6 {
    width: 100%;
    height: auto;
    margin: 10px auto;
}

.slider-box4 {
    padding-bottom: 150px;
}

.slider-box4 ul, .slider-box5 ul, .slider-box6 ul {
    display: flex;
    padding: 10px;
    width: 100%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box4 li, .slider-box5 li, .slider-box6 li {
    width: 100%;
    list-style: none;
}

.slider-box4 img {
    width: 250px;
    height: auto;
}

.slider-box5 {
    padding-bottom: 200px;
}

.slider-box5 img {
    width: 200px;
    height: auto;
}

.slider-box6 {
    padding-bottom: 300px;
}

.slider-box6 img {
    width: 300px;
    height: auto;
}

@keyframes slide {
    0%, 20% { margin-left: 0; }
    25%, 45% { margin-left: -100%; }
    50%, 70% { margin-left: -200%; }
    75%, 100% { margin-left: -300%; }
    100%, 125% { margin-left: -400%; }
    125%, 150% { margin-left: -500%; }
    150%, 175% { margin-left: -600%; }
    175%, 200% { margin-left: -700%; }
    200%, 225% { margin-left: -800%; }
    225%, 250% { margin-left: -900%; }
    250%, 275% { margin-left: -1000%; }
    275%, 300% { margin-left: -1100%; }
    300%, 325% { margin-left: -1200%; }
}

.contenedor {
    display: flex;
    align-items: center;
}

.contenedor img {
    max-width: 100px;
    margin-right: 10px;
}

.formulario1, .formulario2 {
    background-color: transparent;
    padding-top: 40px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 55px color#fff2;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(240, 244, 162);
}

input {
    width: 200px;
    box-sizing: border-box;
    padding: 6px 8px;
    border: 1px solid #ddf591;
    box-shadow: 0px 0px 15px rgb(117, 119, 117);
    background-color: transparent;
    border-radius: 4px;
    color: #ddd;
    margin: 6px;
}

fieldset {
    margin: 20px 0;
    border: 2px solid rgba(204, 237, 177, 0.4);
    border-radius: 5px;
}

legend {
    padding: 0 6px;
}

#miBoton {
    padding: 10px 20px;
    background-color: #607e61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    margin-left: 2px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 5px;
    cursor: pointer;
}

.formulario1 a, .formulario2 a {
    color: rgb(243, 243, 202);
    text-decoration: none;
}

.footer-line {
    border: 1px solid rgb(240, 240, 166);
    margin: 20px 50px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #8faa9e;
}

.box7, .box8, .box9 {
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    background-color: #8faa9e;
    padding: 10px;
}

.box7 {
    display: flex;
    align-items: center;
    color: rgb(39, 67, 60);
}

.lista7 {
    list-style-type: none;
    margin: 0 10px;
    padding: 10px;
}

.box7 img {
    max-width: 100px;
    margin-right: 10px;
}

.lista7 li {
    margin-bottom: 10px;
}

.lista7 a {
    color: #32502E;
    text-decoration: none;
}

.box8 p {
    color: rgb(39, 67, 60);
}

.box9 {
    text-align: center;
    padding-top: 20px;
}

.box9 img {
    max-width: 50px;
    display: block;
    margin: 0 auto 10px;
}

.box9 p {
    font-size: 16px;
    margin: 0;
    color: rgb(39, 67, 60);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #72db99;
}














