body {
    margin: 0;
    padding: 0;
    background-color: #32502E;
    font-family: 'Julee';
}

.header {
    background-color: #32502E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.header__logo-container {
    max-width: 100%;
    width: 150px;
}

.imagen-lista2 {
    max-width: 200px;
    height: auto;
}

h1 {
    color: antiquewhite;
    font-family: 'Kaushan Script';
    font-size: 5vh;
    text-align: center;
    font-style: italic;
}

.box1 {
    background-color: rgb(243, 243, 196);
    width: 90%;
    max-width: 1300px;
    height: 13vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista1 {
    list-style-type: none;
    padding: 2vh;
    margin: auto;
    display: flex;
    text-align: center;
    color: rgb(58, 59, 59);
    font-size: 17px;
}

.lista1 a {
    text-decoration: none;
    color: #32502E;
}

li {
    margin-right: 4vw;
    height: 4vh;
}

.imagen-lista1 {
    max-width: 100%;
    height: 30px;
}

h2 {
    color: bisque;
    margin: 2vh 0;
    padding-left: 5vh;
    padding-bottom: 1vw;
    display: inline-block;
}

h5 {
    color: bisque;
    margin: 2vh;
    text-align: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 100px;
    padding-top: 5vw;
}

p {
    color: rgb(227, 225, 161);
    margin: 2vh;
    justify-content: center;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contenedor {
    display: flex;
    align-items: center;
}

.contenedor img {
    max-width: 100px;
    margin-right: 10px;
}

.footer-line {
    border: 1px solid rgb(240, 240, 166);
    margin: 20px 50px;
}

.box14 {
    width: 50%;
    margin: 5px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.box14 p {
    color: bisque;
    padding: 10px;
    margin: 10px;
    max-height: 200px;
    overflow: hidden;
    margin-left: 40vh;
}

.box15 {
    display: flex;
    align-items: center;
    color: rgb(39, 67, 60);
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    background-color: #8faa9e;
    padding: 10px;
}

.lista15 {
    list-style-type: none;
    margin: 0 10px;
    padding: 10px;
    list-style-type: none;
}

.box15 img {
    max-width: 100px;
    margin-right: 10px;
}

.lista15 li {
    margin-bottom: 10px;
}

.lista15 a {
    color: #32502E;
    text-decoration: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #8faa9e;
}

.box16 {
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    background-color: #8faa9e;
    padding-top: 90px;
}

.box16 p {
    color: rgb(39, 67, 60);
}

.box17 {
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    background-color: #8faa9e;
    padding-top: 20px;
    text-align: center;
}

.box17 img {
    max-width: 50px;
    display: block;
    margin: 0 auto 10px;
}

.box17 p {
    font-size: 16px;
    margin: 0;
    color: rgb(39, 67, 60);
}

#showMoreBtn,
#showLessBtn {
    background-color: #326c33;
    color: rgb(209, 209, 162);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 42vh;
}

#showMoreBtn:hover,
#showLessBtn:hover {
    background-color: #406d42;
}

.box17 ul li {
    margin-bottom: 7px;
}

.box17 .terms-section p {
    margin-bottom: 7px;
}

