/* Estilo general */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F5;
}

/* Estilo para el contenedor de mensajes flash */
.flash-messages {
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

/* Estilo general para los mensajes flash */
.flash {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

/* Estilo para mensajes flash de éxito */
.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Estilo para mensajes flash de error */
.flash.danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Estilo para mensajes flash de advertencia */
.flash.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

/* Estilo para mensajes flash de información */
.flash.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}


.header__logo-container {
    display: flex; /* Utiliza Flexbox */
    flex-direction: column; /* Alinea los elementos en una columna (imagen encima del texto) */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centra el texto dentro del contenedor */
    height: 40vh;
}
.imagen-logo {
    width: 200px; /* Ancho de la imagen */
    height: 200px; /* Alto de la imagen */
    border-radius: 50%; /* Hace que la imagen sea completamente redonda */
    object-fit: cover; /* Ajusta la imagen para que se mantenga centrada */
    filter: brightness(180%) contrast(40%); /* Aumenta el brillo un 20% y reduce un poco el contraste */
    box-shadow: 5px 5px 12px rgb(0, 0, 0);
    margin-right: 15px; /* Espacio entre el logo y el título */
    margin-top: 20px;
}
.box1 {
    display: flex;
    justify-content: center; /* Centra todo el contenido */
    align-items: center;
    padding: 10px 20px;
    background-color: #E6F0E6; /* Verde pastel suave */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.lista1 {
    list-style-type: none;
    padding: 2vh;
    margin: 0; /* Ajusta el margen para centrar */
    display: flex;
    justify-content: space-evenly; /* Distribuye equitativamente los botones */
    width: 100%; /* Ocupa todo el ancho disponible */
    color: rgb(58, 59, 59);
    font-size: 17px;
}
/* Estilo para las imágenes en la lista */

.imagen-lista1:hover {
    filter: brightness(1);
}

.imagen-lista1 {
    height: 50px;
    width: 50px;
    cursor: pointer;
    filter: brightness(0.7); /* Estilo suave a las imágenes */
    transition: filter 0.3s ease;
}


nav ul.lista1 {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul.lista1 li {
    margin: 0 20px;
}

nav ul.lista1 li a {
    text-decoration: none;
    color: #4A6056; /* Verde oscuro suave */
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 16px;
}

nav ul.lista1 li a:hover {
    color: #8AB78B; /* Verde más claro en hover */
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    nav ul.lista1 {
        flex-direction: column; /* Para que los botones se apilen en móviles */
        align-items: center;
    }

    nav ul.lista1 li {
        margin: 10px 0;
    }
}

/* Botones personalizados */
nav ul.lista1 li a {
    padding: 8px 12px;
    border-radius: 25px;
    background-color: #FDFDFB; /* Blanco hueso */
    border: 2px solid #D4E4D1; /* Verde pastel suave */
}

nav ul.lista1 li a:hover {
    background-color: #E6F0E6; /* Verde pastel */
    border-color: #8AB78B;
    color: #4A6056;
}

/* Alineación en pantallas pequeñas */
@media (max-width: 768px) {
    .search-form {
        margin-top: 10px;
    }

    .search-input:focus {
        width: 100%; /* Ampliar más en dispositivos pequeños */
    }
}

h1 {
    color: rgb(38, 93, 28);
    font-family: 'Julee';
    font-size: 5vh;
    text-align: center;
    font-style: italic;
}

#backButton {
    background-color: #678f68; /* Color de fondo verde */
    border: none; /* Sin borde */
    color: white; /* Texto blanco */
    padding: 15px 32px; /* Relleno alrededor del texto */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Márgenes */
    cursor: pointer; /* Cambiar el cursor a una mano cuando se pase sobre el botón */
    border-radius: 8px; /* Bordes redondeados */
    margin-left: 50px;
}

#backButton:hover {
    background-color: #80ec85; /* Cambiar color al pasar el cursor sobre el botón */
}

form {
    background-color: #b6cdc3;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
}

form h2 {
    color: #32502E;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

input {
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddf591;
    box-shadow: 0px 0px 15px rgb(117, 119, 117);
    background-color: transparent;
    border-radius: 4px;
    color: #0f4124;
    margin: 10px 0;
    font-family: 'Julee', sans-serif;
    font-size: 15px;
}

input[type="submit"] {
    width: 100%;
    background-color: #486c49;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.contenedor {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 20px 0;
}

.contenedor img {
    max-width: 100px;
    margin-right: 10px; 
}

.box11 {
    display: flex; 
    align-items: center; 
    color: rgb(39, 67, 60);
    flex: 1; 
    margin: 10px;
    box-sizing: border-box;
    background-color: #8faa9e;
    padding: 10px;
    font-family: 'Julee';
}

.lista11 {
    list-style-type: none; 
    margin: 0 10px; 
    padding: 10px;
}

.box11 img {
    max-width: 100px; 
    margin-right: 10px; 
}

.lista11 li {
    margin-bottom: 10px;  
}

.lista11 a {
    color: #32502E; 
    text-decoration: none; 
}

footer {
    display: flex; 
    flex-wrap: wrap; 
    background-color: #8faa9e;
}

.box12 {
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    background-color: #8faa9e;
    padding-top: 90px;
    font-family: 'Julee';
}

.box12 p {
    color: rgb(39, 67, 60);
}

.box13 {
    flex: 1; 
    margin: 10px; 
    box-sizing: border-box; 
    background-color: #8faa9e;
    padding-top: 20px; 
    text-align: center; 
    font-family: 'Julee';
}

.box13 img {
    max-width: 50px; 
    display: block; 
    margin: 0 auto 10px;
}

.box13 p {
    font-size: 16px; 
    margin: 0; 
    color: rgb(39, 67, 60);
}

.footer-line {
    border: 1px solid rgb(56, 94, 57);
    margin: 20px 50px;

}

