/* Estilo general */
body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(146, 203, 158); /* Verde pastel suave */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.header__logo-container {
    display: flex; /* Utiliza Flexbox */
    flex-direction: column; /* Alinea los elementos en una columna (imagen encima del texto) */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centra el texto dentro del contenedor */
    height: 40vh;
}

.imagen-logo {
    width: 200px; /* Ancho de la imagen */
    height: 200px; /* Alto de la imagen */
    border-radius: 50%; /* Hace que la imagen sea completamente redonda */
    object-fit: cover; /* Ajusta la imagen para que se mantenga centrada */
    filter: brightness(180%) contrast(40%); /* Aumenta el brillo un 20% y reduce un poco el contraste */
    box-shadow: 5px 5px 12px rgb(0, 0, 0);
    margin-right: 15px; /* Espacio entre el logo y el título */
    margin-top: 20px;
}

nav ul.lista1 {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul.lista1 li {
    margin: 0 10px;
}

/* Botones personalizados */
nav ul.lista1 li a {
    padding: 8px 12px;
    border-radius: 25px;
    background-color: #FDFDFB; /* Blanco hueso */
    border: 2px solid #D4E4D1; /* Verde pastel suave */
}

nav ul.lista1 li a:hover {
    background-color: #E6F0E6; /* Verde pastel */
    border-color: #8AB78B;
    color: #4A6056;
}

/*letra de los botones*/
nav ul.lista1 li a {
    text-decoration: none;
    color: #163e15; /* Verde oscuro */
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 16px;
}

/*color al poner el mouse sobre el boton*/
nav ul.lista1 li a:hover {
    color: #8AB78B; /* Verde más claro en hover */
}

/* Estilo para las imágenes en la lista */

.imagen-lista1:hover {
    filter: brightness(1);
}

.imagen-lista1 {
    height: 50px;
    width: 50px;
    cursor: pointer;
    filter: brightness(0.7); /* Estilo suave a las imágenes */
    transition: filter 0.3s ease;
}


/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    nav ul.lista1 {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul.lista1 li {
        margin: 10px 0;
    }
}

/* Estilo del formulario de búsqueda */
.search-form {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input {
    padding: 8px;
    border: 2px solid #D4E4D1; /* Verde pastel */
    border-radius: 20px;
    background-color: #FDFDFB; /* Blanco hueso */
    color: #4A6056; /* Verde oscuro */
    outline: none;
    font-size: 14px;
    width: 0;
    transition: width 0.4s ease; /* Animación para ampliar el campo */
    width: 150px;
}

.search-input:focus {
    width: 150px; /* Ampliar campo de texto cuando se hace clic */
    border-color: #8AB78B; /* Verde más claro */
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search-button img {
    height: 30px;
    width: 30px;
    transition: filter 0.3s ease;
}

.search-button img:hover {
    filter: brightness(1);
}

/* Alineación en pantallas pequeñas */
@media (max-width: 768px) {
    .search-form {
        margin-top: 10px;
    }

    .search-input:focus {
        width: 100%; /* Ampliar más en dispositivos pequeños */
    }
}

.flash-messages {
    margin: 20px;
}

.flash-messages ul {
    list-style-type: none;
    padding: 0;
}

.flash-messages li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
}

.flash.error {
    background-color: #e74c3c; 
}

.flash.success {
    background-color: #2ecc71; 
}    

.flash.info {
    background-color: #3498db; 
}

.flash.warning {
    background-color: #f39c12; 
}

/*titulo pagina*/
h1 {
    color: rgb(146, 203, 158);
    font-family: 'Kaushan Script';
    font-size: 6vh;
    text-align: center;
    font-style: italic;
}

/*subtitulos*/
.box2 {
    width: calc(80vw - 10px);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "sans-serif";
    font-size: 12px;
}

.lista2 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.lista2 > li {
    position: relative;
    margin: 0 20px;
}

.lista2 > li > a {
    text-decoration: none;
    color: #163e15;
    padding: 30px 15px;
    display: block;
    font-size: 18px;
}

.lista2 > li > a:hover {
    background-color: rgb(146, 203, 158);
}

/*submenu*/
.submenu {
    display: none;
    position: absolute;
    margin-top: 8%;
    left: 0;
    list-style: none;
    padding: 5px;
    margin: 0px;
    background-color: rgb(146, 203, 158);
    box-shadow: 0 8px 16px rgba(0, 0.3, 0, 0.3);
    font-family: sans-serif;
    font-size: 16px;
}

.submenu li {
    width: 250px;
}

.submenu li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #163e15;
}

.lista2 > li:hover .submenu {
    display: block;
}

/*hojas del inicio*/
.imagen-lista2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Cambia este tamaño si quieres las hojas más grandes o más pequeñas */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px; /* Espacio entre la hoja y el texto */
}

.imagen-lista21 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Cambia este tamaño si quieres las hojas más grandes o más pequeñas */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px; /* Espacio entre la hoja y el texto */
}

/*chatbox*/
.box3 {
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh; /* Altura completa de la pantalla */
    margin: 0;
    padding-top: 10px;
    }

/* Contenedor del chatbox */
#chat-container {
    border: 2px solid #163e15; 
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    max-width: 300px; /* Ancho máximo del chatbox */
    max-height: 300px;
    background-color: rgb(146, 203, 158); 
    box-shadow: 0 4px 8px rgba(0, 0.5, 0, 0.4); /* Sombra suave */
}

/* Título del chatbox */
#chat-container h3 {
    margin-top: 0;
    font-size: 30px;
    color: #163e15; 
    text-align: center;
    font-family: 'Kaushan Script';
}

/* Área de mensajes */
#chatbox {
    border: 1px solid #163e15;
    border-radius: 5px;
    padding: 10px;
    height: 200px; /* Altura fija */
    overflow-y: auto; /* Barra de desplazamiento vertical si es necesario */
    background-color: #c7fdc5;
}

/* Mensajes dentro del chatbox */
#messages {
    margin-bottom: 10px;
}

/* Estilo del campo de entrada de mensaje */
#messageInput {
    width: calc(100% - 100px); /* Resta el ancho del botón enviar */
    padding: 20px;
    border: 1px solid #426659; 
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    color: #163e15;
    font-size: 13px;
    font-family: "sans-serif";
    background-color: #ffffff;
}

/* Estilo del botón de enviar */
#sendButton {
    width: 90px;
    border-radius: 25px;
    color: #163e15; 
    cursor: pointer;
    font-size: 16px;
    font-family: "sans-serif";
    padding: 8px 12px;
    background-color: rgb(146, 203, 158); 
    border: 2px solid #163e15;

}

#sendButton:hover {
    background-color: rgb(146, 203, 158); 
}

/*chatbox*/


.imagen-asesoria {
    max-width: 100px;
    height: auto;
    margin-left: 3vh;
    padding: 1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    vertical-align: middle;
    display: flex;
}

#productos {
    text-align: center;
    margin: 50px 0;
}

#productos h2 {
    margin-bottom: 40px;
    font-size: 35px;
    color: #163e15;
    font-family: "Kaushan Script";
}

.product-container1, .product-container2, .product-container3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Estilo para ajustar el ancho de los contenedores 2 y 3 */
.product-container2, .product-container3 {
    justify-content: center; /* Centra los productos */
    max-width: 800px; /* Ajusta el ancho máximo para que no ocupen todo el ancho de la pantalla */
    margin: 0 auto; /* Centra el contenedor en la página */
}

.product-box {
    flex: 1;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(146, 203, 158);
    border-radius: 8px;
    transition: transform 0.3s ease;
    background-color: #c7fdc5;
    text-align: center;
}

.product-box a {
    text-decoration: none;
    color: inherit;
}

.product-box img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px;
}

/*letra imagenes*/
.product-box p {
    font-size: 18px;
    color: #163e15;
    font-family: "sans-serif";
}

.product-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .product-container1, .product-container2, .product-container3 {
        flex-direction: column;
    }

    .product-box {
        margin: 10px auto;
    }
}

.contenedor {
    display: flex;
    align-items: center;
}

.contenedor img {
    max-width: 100px;
    margin-right: 10px;
}

.formulario1, .formulario2 {
    padding-top: 20px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 55px color rgb(146, 203, 158);
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 80px;
    color: #163e15;
}

/*botones de registro*/
input {
    margin: 6px;
    padding: 8px 12px;
    border-radius: 25px;
    background-color: #E6F0E6; /* Verde pastel */
    border-color: #8AB78B;
    color: #4A6056;
}

/*ingreso y registro*/
fieldset {
    margin: 0px 0;
    border: 3px solid rgb(146, 203, 158);
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(214, 214, 214);
    font-family: 'Kaushan Script';
    font-size: 25px;
    color: #163e15;
}

legend {
    padding: 0 6px;
}

/*boton registrar e ingresar*/
button {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 25px;
    background-color: rgb(146, 203, 158);
    border: 2px solid #D4E4D1; /* Verde pastel suave */
}

label {
    margin-left: 2px;
}


input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 5px;
    cursor: pointer;
}

.formulario1 a, .formulario2 a {
    color:#163e15;
    text-decoration: none;
}

/* Estilos para mensajes flash específicos de registro e ingreso */
.flash-success, .flash-error {
    margin: 20px auto; /* Centra el mensaje */
    padding: 15px;
    width: 80%; /* El ancho será del 80% del contenedor */
    max-width: 600px; /* Máximo ancho para pantallas grandes */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.flash-success {
    background-color: #d4edda;
    color: #376341;
    border: 1px solid #c3e6cb;
}

.flash-error {
    background-color: #f8d7da;
    color: #de5c69;
    border: 1px solid #f5c6cb;
}

/* Estilo para el efecto de desvanecimiento */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

/*pie de página*/
.footer-line {
    border: 1px solid #2b422d;
    margin: 20px 50px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(146, 203, 158);
}

/*pie de página*/
.box7, .box8, .box9 {
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    background-color: #8faa9e;
    padding: 10px;
    font-family: "Kaushan Script";
    font-size: 20px;
    background-color: rgb(146, 203, 158);
    color: #163e15;
}

/*pie de página*/
.box7 {
    display: flex;
    align-items: center;
    color: #163e15;
    background-color: rgb(146, 203, 158);
}

.lista7 {
    list-style-type: none;
    margin: 0 10px;
    padding: 10px;
    background-color: rgb(146, 203, 158);
}

.box7 img {
    max-width: 150px;
    margin-right: 10px;
    background-color: rgb(146, 203, 158);
}

.lista7 li {
    margin-bottom: 10px;
    background-color: rgb(146, 203, 158);
}

.lista7 a {
    color: #163e15;
    text-decoration: none;
    background-color: rgb(146, 203, 158);
}
/*pie de página*/
.box8 p {
    color: #163e15;
    background-color: rgb(146, 203, 158);
}

/*pie de página*/
.box9 {
    text-align: center;
    padding-top: 20px;
    background-color: rgb(146, 203, 158);
}

.box9 img {
    max-width: 100px;
    display: block;
    margin: 0 auto 10px;
    background-color: rgb(146, 203, 158);
}

#myBtn {
    width: 60px; /* Ajusta el ancho del botón */
    height: 60px; /* Ajusta la altura del botón */
    background-color: #163e15; /* Color del botón */
    color: white; /* Color del texto o ícono */
    border-radius: 50%; /* Para que siga siendo redondo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Tamaño del ícono o texto */
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la parte derecha */
    cursor: pointer;
}














